/*------------------------------------*\
    #INPUT-RADIO
\*------------------------------------*/

// Preconfigure these settings before the @import of this file.
$input-radio-ns: null !default;
$input-radio-color-bg: #005639 !default;
$input-radio-color-border: #002317 !default;

/**
 * High-level wrapper element for custom radio inputs.
 *
 * 1. Reset all properties to browser default.
 */
.#{$input-radio-ns}c-input-radio-wrapper {
    all: initial; /* [1]  */
    display: inline-block;
    cursor: pointer;
    margin: 1rem 0;
    width: 100%;
}

/**
 * 1. Hide the native input element.
 * 2. Make so it sits on top of the input radio element.
 */
.c-input-radio {
    border: 0;
    opacity: 0; /* [1] */
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute; /* [2]  */
}

/**
 * Dummy element to provide faux styling.
 */
.#{$input-radio-ns}c-input-radio-dummy {
    display: block;

    /**
     * 1. Add some space to the right to accommodate the label content, for example.
     * 2. Move them to the right edge so they are all vertically aligned.
     */
    &:after {
        content: '';
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 1rem;
        border: 0.125rem solid #fff;
        box-shadow: 0 0 0 0.10rem $input-radio-color-border;
        margin-left: 0.75rem; /* [1] */
        transition: 0.5s ease all;
        vertical-align: -0.125em;
        float: right; /* [2] */

        .#{$input-radio-ns}c-input-radio:checked + & {
            background: $input-radio-color-bg;
            box-shadow: 0 0 0 0.25rem $input-radio-color-border;
        }

    }

}
