/*------------------------------------*\
    #INPUT-RADIO
\*------------------------------------*/

// Preconfigure these settings before the @import of this file.
$input-radio-color-bg: #005639;
$input-radio-color-border: #002317;

/**
 * High-level wrapper element for custom radio inputs.
 *
 * 1. Reset all properties to browser default
 * 2. Hide the native input element
 * 3. Make so it sits on top of the input radio element.
 * 4. Add some space to the right to accomodate the label content, for example.
 */
.c-input-radio-wrapper {
  all: initial; /* [1]  */
  display: inline-block;
  cursor: pointer;
  margin: 1rem 0;
}

.c-input-radio {
  border: 0;
  opacity: 0; /* [2] */
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute; /* [3]  */
}

/**
 * Dummy element to provide faux styling.
 */
.c-input-radio-dummy {
  display: block;
}

.c-input-radio-dummy:before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  border: 0.125rem solid #fff;
  box-shadow: 0 0 0 0.10rem $input-radio-color-border;
  margin-right: 0.75rem; /* [4] */
  transition: 0.5s ease all;
}

.c-input-radio:checked + .c-input-radio-dummy:before {
  background: $input-radio-color-bg;
  box-shadow: 0 0 0 0.25rem $input-radio-color-border;
}
