/*------------------------------------*\
    #COMMENTS-MODAL
\*------------------------------------*/

// Preconfigure these settings before the @import of this file.
$comments-modal-ns: null !default;
$comments-modal-filter-width: 25% !default;
$comments-modal-main-width: 65% !default;

/**
 * 1. Reset all properties to browser default.
 */
.#{$comments-modal-ns}c-comments-modal {
    all: initial; /* [1] */
}

/**
 * The filter options
 */
.#{$comments-modal-ns}c-comments-modal__filter-area {
    width: $comments-modal-filter-width;
    position: fixed;
}

/**
* The mainarea where comments are rendered
*/
.#{$comments-modal-ns}c-comments-modal__main-area {
    width: $comments-modal-main-width;
    padding-left: calc(35% + 2rem);
}
