/*------------------------------------*\
    #FORMS
\*------------------------------------*/

// Preconfigure these settings before the @import of this file.
$form-font-family: sans-serif;

$legend-font-size: 1rem;
$fieldset-color-border: #005639;
$fieldset-padding: 1.5rem;

$legend-color: #FFF;
$legend-color-bg: #005639;
$legend-padding: 0.25rem 1rem;
$form-font-family: sans-serif;

$label-padding: 0.25rem 0;
$label-color:  #002317;

form {
  font-family: $form-font-family;
}


fieldset {
  font-size: $legend-font-size;
  border: 2px solid $fieldset-color-border;
  padding: $fieldset-padding;
  border-radius: 0.5em;
}

legend {
  color: $legend-color;
  background: $legend-color-bg;
  padding: $legend-padding;
  border-radius: 1rem;
}

label {
  font-weight: bold;
  font-size: .75rem;
  padding: $label-padding;
  color: $label-color;
  cursor: pointer;
}
