/*------------------------------------*\
    #LIST-BARE
\*------------------------------------*/

// Preconfigure these settings before the @import of this file.
$list-bare-ns: null !default;

/**
 * Remove bullts and indents from lists.
 */
.#{$list-bare-ns}o-list-bare {
    margin:  0;
    padding: 0;
    list-style: none;
}
